{
  "presets": ["next/babel"],
  "plugins": [
  	[
      "import",
      {
        "libraryName": "antd"
        // "style": false
      }
    ]
    // [
    //   "css-modules-transform", {
    //     "extensions": [".css", ".less"],
    //     "append": [ "postcss-cssnext" ],
    //     "extractCss": "./static/css/bundle.css",
    //     "preprocessCss": "./pre-processor.js"   
    //   }
    // ]
  ]
}